* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background: #00995E;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header .title {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px;
  font-weight: 500;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textarea-input {
  border-radius: 10px;
  min-height: 75px;
  padding: 10px;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-copy {
  align-items: center;
  background: #00995E;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  justify-content: center;
  padding: 10px 16px;
  transition: background-color 500ms;
}

.btn-copy:hover {
  background: #D3F70C;
  border: 2px solid #D3F70C;
  color: #00995E;
}

.btn-convert {
  align-items: center;
  background: #FA822C;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  justify-content: center;
  padding: 10px 16px;
  transition: background-color 300ms;
}

.btn-convert:hover {
  background: #f88d41;
}

footer {
  bottom: 0;
  padding: 20px;
  position: absolute;
}

footer a {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: color 300ms;
}

footer a:hover {
  color: #D3F70C;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {

  header .title {
    font-size: 32px;
  }

  .textarea-input {
    margin: 0 auto;
    min-height: 75px;
    width: 90%;
  }

  .container-buttons {
    margin: 0 auto;
    width: 90%;
  }

  footer a {
    display: none;
  }
}
